@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body{
    padding: 0;
    margin: 0;
    background: url(../image/cricket_background.jpg);
    background-size: cover;
    background-attachment: fixed; 
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

img{
    width: 100px;
    background-color: black;
    border-radius: 50%;
}


.container {
    width: 25rem;
    height: 25rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 7px;
    position: relative;
    z-index: 1;
    background: inherit;
    padding: 30px 30px;
    
  }
  
  .container:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(100px);
    margin: -20px;
  }

  .avatar{
    width: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
  }

  form{
      margin-left: 100px;
  }

  .container h1{
      padding-top: 30px;
      text-align: center;
      color: yellow;
      text-transform: capitalize;
      font-family: 'Permanent Marker', cursive;
      text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;

  }

  .container form input[type = "text"], input[type = "password"]{
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 20px;
    font-size: 16px;
    color: black;
    font-family: 'Bebas Neue', cursive;
  }

  .container form p{
    font-size: 20px;
    color: white;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;

  }

  .container{
    margin: 0;
    padding: 0;
    font-weight: bold;
  }




  .container a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
  }

  .container a:hover{
    color: greenyellow;
    text-decoration: underline;
  }

  .container .button:hover{
    cursor: pointer;
    background: #ffc107;
    text-decoration: none;
  }
  .button {
    margin: 20px;
    margin-left: auto;
    display: inline-block;
    padding: 10px 20px;
    font-family: 'Lobster', cursive;
    text-align: center;
    text-decoration: none;
    background-color: #fb2525;
    border-radius: 25px;
    outline: none;
  }

